<div>
  <h3><%= @user.name %></h3>
  <%= image_tag @user.get_profile_image(100,100) %>
  <% if @user == current_user %>
    <p><%= link_to "人型のアイコン", edit_user_path(@user.id) %></p>
  <% end %>
</div>

<% @books.each do |book| %>
<div>
  <%= link_to book_path(book.id) do %>
    <%= image_tag book.get_image %>
  <% end %>
  <p><%= book.title %></p>
  <p><%= book.body %></p>
  <p><%= book.user.name %></p>
</div>
<% end %>
