<% if @book.errors.any? %>
  <%= @book.errors.count %>errors prohibited
  <ul>
    <% @book.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
<%= render 'list', user: current_user, book: @book %>
    </div>


<h2>Books</h2>
<% @books.each do |book| %>
<div>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title : 
  <%= link_to book_path(book.id) do %>
  <%= book.title %>
  <% end %>
  </p>
  <p>Body：<%= book.body %></p>
</div>
<% end %>
  </div>
</div>