<div class="container px-5 px-sm-0">
  <div class="row">
    <%= render 'list', user: @book.user, book: @booka %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user.id) do %>
                <%= image_tag @book.user.get_profile_image(100,100) %><br>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td>
              <%= link_to book_path(@book) do %>
                <%= @book.title %>
              <% end %>
            </td>
            <td><%= @book.body %></td>
            <% if @book.user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book), class:"btn btn-sm btn-success edit_book_53858" %>
              <td><%= link_to "Destroy", book_path(@book), class:"btn btn-sm btn-danger destroy_book_53858", method: :delete, "data-confirm" => "本当に消しますか？"  %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>